.spin-animation path {
    animation: custom 2s linear infinite;
}

@keyframes custom {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.spin-animation path:nth-child(1) {
    animation-delay: 0s;
}

.spin-animation path:nth-child(2) {
    animation-delay: 0.5s;
}

.spin-animation path:nth-child(3) {
    animation-delay: 1s;
}

.spin-animation path:nth-child(4) {
    animation-delay: 2s;
}

.loading-app-fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
